model.h5
best_diabetes_model.pkl

venv/
db.sqlite3
__pycache__/
__pycache__
/__pycache__
*.pyc

media/
media/*
!media/.gitkeep
staticfiles
desktop.ini
celerybeat-schedule
.mypy_cache
celery_db
data
db_volume
debug.log
volumes
code
venv
backend_venv

*.log
# LOGS/*
!LOGS/.gitkeep

build
dist
/.spec

# Migrations
**/migrations/**
!**/migrations/__init__.py
!**/migrations/
LOGS/
LOGS/

.env*
Backend/ENV/.env.*
